{% extends "layout.html" %}
{% block title %}
Added items
{% endblock %}

{% block content %}
    <div class="">
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th><abbr title="Path">Path</abbr></th>
                    <th><abbr title="Scanned at">Scan</abbr></th>
                </tr>
            </thead>
            <tbody>
                {% for i in items %}
                <tr>
                    <td>{{ i.path }}</td>
                    <td>{{ i.scanned_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}