<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" class="has-navbar-fixed-top">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
        integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" crossorigin="anonymous" />
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script>
            var socket = io.connect('http://' + document.domain + ':' + location.port);
        </script>
</head>

<body >
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1>RPC</h1>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMain" class="navbar-menu">
            <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="/queue/view">
                    Queue
                </a>

                <a class="navbar-item" href="/added">
                    Recently added
                </a>
            </div>
        </div>
    </nav>

    <main>
        <section id="title" class="section">
            <div class="container">
                <h1 class="title">
                    <a href='/'>
                        {% block title %}{% endblock %}
                    </a>
                </h1>
            </div>
        </section>

        <br />
        <section id="content" class='section'>
            {% block content %}
            {% endblock %}
        </section>
    </main>

    <script>
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }


    </script>

</body>

</html>