<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <h1>RPC</h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarMain" class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="/queue/view">
                Queue
            </a>

            <a class="navbar-item" href="/added">
                Recently added
            </a>
        </div>
    </div>
</nav>