{% extends "layout.html" %}
{% block title %}Queued items{% endblock %}

{% block content %}

    <div class="container">
        <div class="control ">
          <form method="POST" action="/queue/add" class="columns">
              {{ form.hidden_tag() }}
              {{ form.path(class_="input is-four-fifths") }}
              <input type="submit" class="button is-primary" value="submit">
          </form>
        </div>
    </div>
    <br>
    <div class="container">
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Date Added</th>
                    <th>Scan attempts</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for i in queue %}
                <tr>
                    <td>{{ i.path }}</td>
                    <td>{{ i.downloaded_at }}</td>
                    <td>{{ i.scan_attempts }}</td>
                    <td><a class="button is-danger">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        delete_buttons = document.getElementsByClassName('button');
        console.log(delete_buttons);
        for (let index = 0; index < delete_buttons.length; index++) {
            delete_buttons[index].addEventListener('click', function(event){
                path = event.target.parentElement.parentElement.cells[0].textContent;
                socket.emit('delete path from queue', {data: path});
                event.target.parentElement.parentElement.remove()
            }, false)
        }

        
    </script>
{% endblock %}